[SddmGreeterTheme]
Name=Obscure
Description=I see nothing, it's empty and what exists is obscure
Website=https://github.com/saatvik333/obscure-sddm-theme
Author=saatvik333
Copyright=(c) 2025, saatvik333
License=MIT
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=obscure
QtVersion=6
